<h1>Practica 8 </h1>
<hr>

<div class="container">

  <div class="containerBOTON">
    <button class="btn-primary" (click)="sumar()"></button>

    <span> {{ numero }} </span>

    <button class="btn-danger" (click)="restar()"></button>

  </div>
</div>
