* {
  background-color: black;
  color: red;
  text-align: center;
  font-size: 50px;
}

.container {
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.btn-primary {
  background-color: white;
}

.btn-danger {
  background-color: red;
}
button {
  width: 30px;
  height: 50px;
  padding: 5px;  
}